.theme-toggle {
    // background: var(--bg-secondary);
    // border: 1px solid var(--border-color);
    // border-radius: 2rem;
    padding: 0.25rem;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  }
